html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
main {
  padding: 0 3rem;
  text-align: center;
}
main p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
  width: 70%;
}
.topic-heading {
  margin-top: 3rem;
  font-size: xx-large;
}
section {
  margin-top: 3rem;
  font-size: x-large;
}
code {
  background-color: rgb(236, 236, 236);
  padding: 0 0.5rem;
}
